html, body{
    height: 100%;
}

body{
    padding-top: 80px;
}

.navbar-brand { /* mi definisce altezza navbar*/
    height: 80px;
    line-height: 70px;
}

.carousel{
    width: 100%;
}

a:hover{
    color:  rgb(55, 0, 255);
}

.nav-link:hover{
    background-color: rgb(0, 140, 255);
    border-radius: 25px;
}

.dropdown-item:hover{
    background-color: rgb(0, 140, 255);
}

.active{
    background-color: rgb(0, 140, 255);
    border-radius: 25px;
}
 
.carousel{
    height: 100%;
}

.carousel-inner{
    height: 100%;
}

.carousel-item{
    height: 100%;
}

.nav-item > img{ 
    width: 50px;
    float: left;
    margin-right: 5px;
 }

.carousel-item > img{
    height: 100%;
 }

/* tabella login-home-promoter */

table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table td, table th{
    border: 1px solid #000;
    padding: 5px 0;
}

table th{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table td{
    text-align: center;
}

table td img{
    max-width: 50px;
    max-height: 50px;
}

/* per i titoli */

.title{
    margin-top: 20px
}

/* tabella */
table td, table th{
    text-align: center;
    border: 1px solid #000;
    padding: 5px 0;
}

table td {
    font-size: x-small;
}
table th {
    font-size: small;
}

/* carrello */

.table-carrello{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* per le liste */
form ul{
    list-style: none;
    width: 80%;
    margin: 0 10%;
}

form ul li{
    margin-bottom: 20px;
}

form ul li:last-child{
    text-align: right;
}

form ul li label{
    display: inline-block;
    width: 50%;
}

form ul li input:not([type="submit"]){
    width: 50%;
    box-sizing: border-box;
}

form ul li input[type="checkbox"]{
    margin: 0;
}

form ul li input[type="submit"]:hover{
    cursor: pointer;
    color:rgb(219, 69,83);
}

form ul li textarea{
    width: 100%;
    height: 150px;
}

form ul li img{
    width: 50px;
}

footer#prova {
    margin-top: 12%;
    text-align: center;
    height: 75px;
}